<div class="container">
    <div class="row">
        <h1>Market Summaries 24HRS</h1>
        <div class="col-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="limit">Search</label>
                                <input type="text" ng-model="$ctrl.query" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="limit">Markets quantity</label>
                                <input type="number" ng-model="$ctrl.limit" class="form-control" min="0" max="{{ $ctrl.markets.length }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="orderBy">Order by</label>
                                <select name="orderBy" ng-model="$ctrl.orderProp" class="form-control">
                                    <option value="-Created">Newest</option>
                                    <option value="-Volume">Volume</option>
                                </select>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>                               
        </div>
        <div class="col-12">
            <h4>{{ $ctrl.limit }} markets of {{ $ctrl.markets.length }} records</h4>
            <hr></hr>
        </div>
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            MarketName
                        </th>
                        <th>
                            24HR High
                        </th>
                        <th>
                            24HR Low                    
                        </th>
                        <th>
                            Volume
                        </th>
                        <th>
                            Last
                        </th>               
                        <th>
                            Bid
                        </th>
                        <th>
                            Ask
                        </th>
                        <th>
                            Open Buy Orders
                        </th>
                        <th>
                            Open Sell Orders
                        </th>
                        <th>
                            Prev Day
                        </th>
                        <th>
                            Added
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="market in $ctrl.markets | filter: $ctrl.query  | orderBy: $ctrl.orderProp | limitTo: $ctrl.limit" ng-click="$ctrl.showMarketDetail(market.MarketName)" >
                        <td>
                            {{ market.MarketName }}
                        </td>
                        <td>
                            {{ market.High | scientificToDecimal }}
                        </td>
                        <td>
                            {{ market.Low | number: 7 }}
                        </td>
                        <td>
                            {{ market.Volume | number: 2 }}
                        </td>
                        <td>
                            {{ market.Last }}
                        </td>               
                        <td>
                            {{ market.Bid }}
                        </td>
                        <td>
                            {{ market.Ask }}
                        </td>
                        <td>
                            {{ market.OpenBuyOrders }}
                        </td>
                        <td>
                            {{ market.OpenSellOrders }}
                        </td>
                        <td>
                            {{ market.PrevDay }}
                        </td>
                        <td>
                            {{ market.Created | date : format : timezone}}
                        </td>
                    </tr>
                </tbody>       
            </table>
        </div>
    </div>
</div>